/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    color-scheme: dark only;
    --gradient-start: aqua;
    --gradient-middle: aqua;
    --gradient-end: aqua;
}

html {
    font-family: Open Sans, sans-serif;
    /* font-family: 'Poppins', sans-serif; */
    scroll-behavior: smooth;
}

body {
    background-color: rgb(20, 20, 20);

    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    /* min-height: 100vh; */
}

body.bg-home {
    background-image: radial-gradient(ellipse 80% 80% at 50% -20%, rgba(0, 153, 255, 0.3), rgba(255, 255, 255, 0));
}

body.bg-projects {
    /* background-image: radial-gradient(ellipse 80% 100% at 50% -20%, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0)) */
    background-image: radial-gradient(ellipse 80% 80% at 50% -20%, rgba(195, 231, 255, 0.3), rgba(255, 255, 255, 0));
}

body.bg-experience {
    background-image: radial-gradient(ellipse 80% 80% at 100% 50%, rgba(0, 153, 255, 0.3), rgba(255, 255, 255, 0));


}

body.bg-about {
    background-image: radial-gradient(125% 125% at 50% 10%, #000 30%, rgba(173, 192, 255, 0.3) 100%);
}


body.bg-contact {
    background-image: radial-gradient(125% 125% at 50% 10%, #000 30%, rgba(0, 60, 255, 0.3) 100%);
}


body.bg-home,
body.bg-experience,
body.bg-projects,
body.bg-about,
body.bg-contact {
    background-attachment: fixed;
    background-size: cover;
}

.glowing-active {
    display: inline-block;
    color: transparent;
    background-image: linear-gradient(to bottom, #00f7ff, #ffffff);
    /* Background gradient */
    -webkit-background-clip: text;
    background-clip: text;
    font-weight: bolder;
}

.glow-on-hover {
    transition: text-shadow 0.2s ease-in-out;
}

.glow-on-hover:hover {
    text-shadow: 0 0 2px white;
    text-shadow: 0 0 10px rgb(0, 225, 255);
    background-color: rgba(0, 0, 0, 0.8);
}




@media (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}


/* Animation-------------------------------------------------------------------------- */
@keyframes slideFromTop {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideFromBottom {
    from {
        transform: translateY(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes bounceFromBottom {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    30% {
        transform: translateY(-10%);
        opacity: 1;
    }

    50% {
        transform: translateY(5%);
    }

    70% {
        transform: translateY(-5%);
    }

    90% {
        transform: translateY(2%);
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


@keyframes slideFromLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideFromRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes waveAnimation {

    0%,
    100% {
        transform: rotate(0deg);

    }

    20%,
    60% {
        transform: rotate(-5deg) translateY(-20px) translateX(-5px);
        scale: 1.6;
    }

    40%,
    80% {
        transform: rotate(15deg) translateY(-20px) translateX(-5px);
    }
}

@keyframes fadeOpacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


.slide-in-top {
    animation: slideFromTop 0.5s ease-out forwards;

}

.slide-in-bottom {
    animation: slideFromBottom 0.5s ease forwards;
}

.slide-in-left {
    animation: slideFromLeft 0.5s ease-out forwards;
}

.slide-in-right {
    animation: slideFromRight 0.5s ease-out forwards;
}

.bouncy-slide-up {
    animation: bounceFromBottom 1s ease-out forwards;
}

.wave {
    display: inline-block;
    animation: waveAnimation 1s ease-in-out 1s;
}

.fade {
    animation: fadeOpacity 1s ease-out forwards;
}

#socials-nav>* {
    opacity: 0;
    animation: slideFromTop 0.5s ease forwards;
}

#socials-nav> :nth-child(1) {
    animation-delay: 0.2s;
}

#socials-nav> :nth-child(2) {
    animation-delay: 0.4s;
}

#socials-nav> :nth-child(3) {
    animation-delay: 0.6s;
}

#socials-nav> :nth-child(4) {
    animation-delay: 0.8s;
}