@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    color-scheme: dark light;
}

html {
    /* font-family: "Onest", system-ui, sans-serif; */
    /* font-family: 'Open Sans', sans-serif; */
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    /* background-color: rgb(20, 20, 20);
    background-image: radial-gradient(ellipse 80% 80% at 50% -20%, rgba(32, 166, 255, 0.3), rgba(255, 255, 255, 0)); */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overscroll-behavior: none;
}

body.bg-home {
    background-image: radial-gradient(ellipse 80% 80% at 50% -20%, rgba(0, 153, 255, 0.3), rgba(255, 255, 255, 0));
}

body.bg-experience {
    background-image: radial-gradient(ellipse 80% 80% at 50% -20%, rgba(0, 60, 255, 0.3), rgba(255, 255, 255, 0));
}

body.bg-projects {
    background-image: radial-gradient(ellipse 80% 80% at 50% -20%, rgba(173, 192, 255, 0.3), rgba(255, 255, 255, 0));
}

body.bg-about {
    background-image: radial-gradient(125% 125% at 50% 10%, #000 30%, rgba(173, 192, 255, 0.3) 100%);
}


body.bg-contact {
    background-image: radial-gradient(125% 125% at 50% 10%, #000 30%, rgba(0, 60, 255, 0.3) 100%);
}


body.bg-home,
body.bg-experience,
body.bg-projects,
body.bg-about,
body.bg-contact {
    background-attachment: fixed;
    background-size: cover;
}

.glowing-active {
    text-shadow: 0 0 5px rgba(255, 255, 255, 1),
        0 0 10px rgba(255, 255, 255, 1),
        0 0 15px rgba(255, 255, 255, 1),
        0 0 20px rgba(0, 150, 255, 0.7);
    /* Add a color glow */
    color: #fff;
}


.glow-on-hover {
    transition: text-shadow 0.3s ease-in-out;
}

.glow-on-hover:hover {
    text-shadow: 0 0 2px white;
    text-shadow: 0 0 10px white;
}




@media (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}


/* Animation-------------------------------------------------------------------------- */
@keyframes slideFromTop {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideFromBottom {
    from {
        transform: translateY(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes bounceFromBottom {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    30% {
        transform: translateY(-10%);
        opacity: 1;
    }

    50% {
        transform: translateY(5%);
    }

    70% {
        transform: translateY(-5%);
    }

    90% {
        transform: translateY(2%);
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


@keyframes slideFromLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideFromRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes waveAnimation {

    0%,
    100% {
        transform: rotate(0deg);

    }

    20%,
    60% {
        transform: rotate(-5deg) translateY(-10px);
        scale: 1.25;
    }

    40%,
    80% {
        transform: rotate(15deg) translateY(-10px);
    }
}

@keyframes fadeOpacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


.slide-in-top {
    animation: slideFromTop 0.5s ease-out forwards;
}

.slide-in-bottom {
    animation: slideFromBottom 0.5s ease-out forwards;
}

.slide-in-left {
    animation: slideFromLeft 0.5s ease-out forwards;
}

.slide-in-right {
    animation: slideFromRight 0.5s ease-out forwards;
}

.bouncy-slide-up {
    animation: bounceFromBottom 1s ease-out forwards;
}

.wave {
    display: inline-block;
    animation: waveAnimation 1s ease-in-out 0.5s;
}

.fade {
    animation: fadeOpacity 1s ease-out forwards;
}